* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #6f7889;
  line-height: 1.2;
}
.wrapper-usercard {
  display: inline-block;
  border-radius: 25px;
  width: 300px;
  margin: 30px;
  overflow: hidden;
  box-shadow: 2px 2px 5px blue;
}
.usercard-header {
  background-color: #e6ebee;
  padding: 25px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}
.usercard-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.usercard-info {
  text-align: center;
}
.usercard-main {
  background-color: #393c45;
  color: #fff;
  padding: 20px;
}
.usercard-image {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.usercard-text {
  text-align: justify;
  margin: 25px 0px;
}
.usercard-info-column {
  display: inline-block;
  margin: 10px;
}
.btn-container {
  text-align: center;
}
.btn {
  display: inline-block;
  width: 110px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.usercard-follow {
  background-color: #556598;
  color: #fff;
  margin-right: 20px;
}
.usercard-message {
  background-color: #e6ebef;
  color: #393c45;
}
